html {
    background-color: #3f332b;
    font-family: 'Courier New', Courier, monospace;
    color: #fbfdfe;
    box-sizing: border-box;
}

body {
    margin:0;
    padding: 20px;
}

.major-title, .minor-title{
    border-bottom: 1px solid #fbfdfe;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}

.major-title {
    font-size: 5.5rem;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 600px) {
    .major-title {
        font-size: 12vw;
    }
    
}

.minor-title {
    font-size: 1.5em;
    text-align: center;
} 



a:link {
    color: #b2e8c2fd;
}

a:visited {
    color: #989fcf;
}

