{{ $global_styles := resources.Get "css/global/baseof.css" | minify |
fingerprint }} {{ $footer_styles := resources.Get "css/global/footer.css" |
minify | fingerprint}}

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ $global_styles.RelPermalink }}" />
    <link rel="stylesheet" href="{{ $footer_styles.RelPermalink }}" />
    <title>{{ .Title }}</title>
  </head>
  <body style="display: flex; flex-direction: column">
    <header class="{{ if .IsHome }}major-title{{ else }}minor-title{{ end }}">
      {{ .Site.Title}}
    </header>
    {{ block "main" .}} {{ end }} {{ partial "footer.html" . }}
  </body>
</html>
