.homepage {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1600px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

#about{
    flex: 1 1 100%;
}

#about p {
    margin-bottom: 1.5rem;
}

#sidebar {
    flex: 1 1 100%;
}

@media (min-width: 600px) {
    #about {
        flex: 0 0 60%;
        margin-right: 7%;
        margin-top: 5%;
        font-size: larger;
    }
    #about p {
        margin-bottom: 2rem;
    }
    #sidebar {
        flex: 0 0 33%;
    }
}

#logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

#logo {
    width: 100%;
    /* max-width: 250px; */
    height: auto;
    border-radius: 10%;
}


.article-list {
    list-style: none;
    padding-left: 0;
  }
  
  .article-item {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  .article-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  
  /* Each field on its own line */
  .article-title {
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
  }
  
  .article-link:hover  {
    text-decoration: underline;
  }
  
  .article-date {
    display: block;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
  }
  
  .article-summary {
    display: block;
    font-size: 0.9rem;
  }