{{ $github := resources.Get "images/Octicons-mark-github.svg"}}

<div id="footer">
  <p>
    <i>Questions, comments, or even complaints? Reach out!</i>
  </p>
  <div class="image-link-containers">
    <a href="https://github.com/lprekon" target="_blank">
      <img class="image-link" src="{{ $github.RelPermalink }}" alt="GitHub" />
    </a>
    <a
      href="https://www.linkedin.com/in/john-farmer-o-kane-193815b4/"
      target="_blank"
    >
      <img
        class="image-link"
        src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
        alt="LinkedIn"
      />
    </a>
  </div>
</div>
