<style>
  .image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    /* margin: 2rem auto; */
    text-align: center;
  }
  .image-row-caption {
    text-align: center;
    margin-top: 0.5rem;
    font-style: italic;
    color: #666;
    font-size: 0.9em;
  }

  .image-row img {
    max-width: 45%;
  }
</style>

<figure style="margin: 2rem auto">
  <div class="image-row">{{ .Inner | markdownify }}</div>
  {{ with .Get "caption" }}
  <figcaption class="image-row-caption">{{ . | markdownify }}</figcaption>
  {{ end }}
</figure>
